* {
  background: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 12px;
  list-style: none;
}
#root {
  height: 100%;
  width: 100%;
}
.mode-bg {
  background: url('@/assets/buttons.gif');
}
.music-player {
  text-align: center;
  .controls {
    a {
      background-position: -92px -33px;
      display: inline-block;
      height: 23px;
      margin: 0 10px;
      width: 26px;
    }

    a.play {
      background-position: -130px -33px;
      width: 30px;
    }

    a.pause {
      background-position: -171px -33px;
    }

    a.next {
      background-position: -253px -33px;   
    }
  }

  .song-list {
    display: inline-block;
    text-align: left;
    overflow: hidden;
    width: 200px;
  }
  
  .song-item {
    cursor: pointer;
    padding: 5px 0;
  }
  .info {
    display: inline-block;
    width: 260px;
    height: 22px;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .tracks {
    width: 255px;
    height: 10px;
    background-position: 0px -198px !important;
    margin-top: 8px;
    padding-left: 3px;
    position: relative;
  }
   
  .bg {
    background: url('./assets/player.png')
  }

  .download-bar {
    position: absolute;
    left: 0px;
    top: -1px;
    width: 30%;
    height: 7px;
    margin-left: 2px;
    display: inline;
    background-position: 0px -231px;
    background-repeat: repeat-x;
    min-width: 2px;
    z-index: 0;
    .l {
      width: 3px;
      height: 7px;
      background-position: 0px -224px;
      margin-left: -3px;
      font-size: 0px;
      position: relative;
      display: inline;
    }

    .r {   
       width: 5px;
      height: 7px;
      background-position: 0px -238px;
      margin-right: -3px;
      font-size: 0px;
      position: relative;
      display: inline;
    }
  }
  .seek-bar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 10%;
    height: 7px;
    margin-left: 2px;
    display: inline;
    background-position: 0px -271px;
    background-repeat: repeat-x;
    min-width: 2px;
    z-index: 1;

    .l {
      width: 4px;
      height: 7px;
      background-position: 0px -262px;
      margin-left: -3px;
      margin-top: -1px;
      font-size: 0px;
      position: relative;
      display: inline;
    }
    .r {
      width: 3px;
      height: 7px;
      background-position: -1px -279px;
      margin-right: -3px;
      margin-top: 0px;
      font-size: 0px;
      position: absolute;
      right: 0px;
      display: inline;
    }

    .point {
      position: absolute;
      right: 0px;
      width: 13px;
      height: 13px;
      background-position: -146px -12px;
      margin-right: -5px;
      margin-top: -22px;
    }
  }
}
